.project .main {
  background-color: white;
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7vh;
  height: fit-content;
}

.project .main iframe {
  min-height: 70vh;
  width: auto;
}

.project .under-text p{
    margin: 2vh 7vh 2vh 7vh;
}

@media (max-width: 110vh) {
  
  .project .main iframe {
    width: 100%;
  }

}
