.project .main {
  background-color: white;
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  padding: 5vh 0 5vh 0;
}

.project .main iframe {
  aspect-ratio: 16/9;

}

.project .under-text p{
    margin: 2vh 7vh 2vh 7vh;
}

@media (max-width: 110vh) {
  
  .project p{
    font-size: 2.5vw;
  }

}
