@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #2e364a;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  cursor: pointer;
  color: aqua;
}

h2 {
  color: #fff;
}

h1 {
  font-size: 2vw;
  text-align: center;
  color: black;
  margin: 2vh 0 2vh 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  margin: 3vh auto 3vh auto;
  width: 900px;
  max-width: 90vw;
  align-items: center;
}

.button-18 {
  align-items: center;
  border: 0;
  background-color: white;
  border-radius: 0.3vh;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6vh;
  font-weight: 600;
  justify-content: center;
  line-height: 2vh;
  width: 20vh;
  height: 5.7vh;
  overflow: hidden;
  padding: 0 2vh 0 2vh;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  box-shadow: 0 1.5vh 2vh rgba(0, 0, 0, 0.5);
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

button a {
  color: black;
}

a {
  text-decoration: none;
  color: red;
  font-size: 2vh;
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

header {
  background-color: #24252a;
  box-shadow: 1vh 0.3vh 1vh #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 3vh 4vw 3vh 4vw;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
  margin: 0;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 1.5vw;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5vw;
  color: #fff;
  font-weight: 400;
}

.login-button button {
  border: none;
  padding: 1vh 1.5vw;
  border-radius: 0.5vh;
  background-color: #0187a7;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu a {
  font-size: 5vw;
}

footer {
  background: #111;
  height: auto;
  font-family: "Open Sans";
  padding-top: 4vh;
  color: #fff;
  bottom: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 3.5vh;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 0;
}

.footer-content p {
  max-width: 50vh;
  margin: 1vh auto;
  line-height: 2.8vh;
  font-size: 1.5vh;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 2vh 0;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover {
  color: aqua;
}

.footer-bottom {
  background: #000;
  padding: 2vh 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 1.4vh;
  word-spacing: 0.2vh;
  text-transform: capitalize;
  bottom: 0;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.introduction h2 {
  text-align: center;
}

.introduction p {
  font-size: 2vh;
}

.text-section p {
  margin: 0;
  font-size: 1.8vh;
}

.text-section {
  background-color: white;
  padding: 5vh;
  text-align: justify;
}

#lang ul li i {
  display: inline-block;
}

#lang ul li h3 {
  display: inline-block;
}

.socials li {
  margin: 0 1vw;
}

@media (max-width: 110vh) {
  h1 {
    margin: auto 0 1vh 0;
    font-size: 8vw;
  }

  .logo h1 {
    font-size: 6vw;
  }

  .introduction h2 {
    font-size: 2.4vh;
    width: 100%;
  }

  .image-small {
    width: 15%;
  }

  .nav-bar {
    padding: 2vh 5vw 2vh 5vw;
  }

  .nav-item {
    display: none;
  }
  .login-button {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon img {
    height: 8vw;
  }

  .iconImg {
    margin: auto 0 auto 0;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding: 2vh 0 2vh 0;
  }
  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }

  section {
    width: 90%;
    margin: 5%;
  }

  #introducing {
    font-size: 2vh;
  }

  .socials li {
    margin: 0 4vw 0 4vw;
  }
}
